@import "./reset.css";

body {
  height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  padding: 50px 0;
  background-attachment: fixed;
}

.container {
  padding: 50px 0;
}

.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  /* wrap으로 설정했을 때 최대 너비는 660px이지만 
  그 이하는 wrap처리 될 수 있음. */
  margin: 0px auto;
  /* 블럭요소에 가로크기가 있는 상태에서 auto면 가운데 정렬이 됨  */
  padding: 40px 20px;
}

.hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  border: 3px solid white;
  box-sizing: border-box;
  /* border 픽셀을 위에 가로 세로 정한 값 안에 포함시키고 싶다면 */
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
  transform: skewX(-14deg);
  transition: transform 0.1s, background-color 0.6s;
}

.hero:hover {
  background-color: #ff9c00;
  transform: skewX(-14deg) scale(1.3);
  z-index: 1;
}

.hero img {
  width: 120%;
  height: 100%;
  transform: translateX(-9px) skewX(14deg) scale(1.02);
  /* 부모요소에 skewX(-14deg)가 있으므로 같이 찌그러진다. 그래서 양수로 해줘야함. */
  background-position: center;
  /* 사진을 정가운데로 */
  background-repeat: no-repeat;
}

.logo {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo img {
  width: 100%;
}
